nav {
	float: right;
	border-style: solid;
	border-width: 5px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 5px;
	border-color: #333333;
	border-top-style: none;
	width: 110px;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}
nav li a {
	text-decoration: none;
	color: #CC6633;
	display: block;
	padding: 8px 16px;
}
nav li a:hover {
	background-color: #333333;
}
nav li a.active {
	background-color: #333333;
}
body {
	background-color: #1D1D1D;
	position: relative;
	padding-bottom: 6em;
	min-height: 200px;
}
section {
	padding-left: 15px;
	width: 80%;
	color: white;
}
section a {
	color: white;
}
section a:visited {
	color: gray;
}
article {
	padding-left: 30px;
}
article p {
	padding-left: 15px;
}
aside {
	float: right;
	padding: 10px 20px 10px 20px;
	color: #CC6633;
}
header, footer {
	padding: 1rem;
	background-color: #333333;
	clear: left;
	text-align: center;
}
header {
	text-align: left;
	color: #CC6633;
}
footer {
	position: absolute;
	right: 0;
	left: 0;
	bottom:	0;
	padding: 1em;
	text-align: center;
	color: #CC6633;
	font-family: monospace;
	font-variant: small-caps;
	font-size: 16px;
	letter-spacing:	1px;
}