nav {
	float: right;
	border-style: solid;
	border-width: 5px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 5px;
	border-color: #f5cb5c;
	border-top-style: none;
	width: 115px;
	background-color: #e8eddf;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}
nav li a {
	text-decoration: none;
	color: #2b2d42;
	display: block;
	padding: 8px 16px;
}
nav li a:hover {
	background-color: #f5cb5c;
}
nav li a.active {
	background-color: #f5cb5c;
}
body {
	background-color: #242423;
	color: #cfdbd5;
	position: relative;
	padding-bottom: 6em;
	min-height: 600px;
}
section {
	padding-left: 15px;
	width: 80%;
	color: white;
}
section dl {
	padding: 0.5em;
}
section dl dt {
	font-weight: bold;
	color: #f5cb5c;
	float: left;
	clear: left;
	width: 100px;
	text-align: right;
}
section dd {
	margin: 0 0 0 110px;
	padding: 0 0 0.5em 0;
}
section dl dt:after {
	content: ":";
}
section a {
	color: white;
}
section a:visited {
	color: gray;
}
article {
	padding-left: 30px;
}
article p {
	padding-left: 15px;
}
aside {
	float: right;
	padding: 10px 20px 10px 20px;
	color: #f5cb5c;
	max-width: 250px;
}
aside img {
	float: left;
	padding-right: 0.5em;
}
aside a{
	text-decoration: none;
	color: white;
}
header, footer {
	padding: 1rem;
	background-color: #f5cb5c;
	clear: left;
	text-align: center;
}
header {
	text-align: left;
	color: #2b2d42;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 5px;
	font-family: 'Righteous', cursive;
}
footer {
	position: absolute;
	right: 0;
	left: 0;
	bottom:	0;
	padding: 1em;
	text-align: center;
	color: #2b2d42;
	font-family: monospace;
	font-variant: small-caps;
	font-size: 16px;
	letter-spacing:	1px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
table {
	border: 1px solid #f5cb5c;
}
th {
	background-color: #f5cb5c;
	color: #2b2d42;
	text-transform: uppercase;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
td#spotify {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
td#play {
	text-align: center;
}
